@import "tailwindcss";
@import "../styles/carousel.css";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 45rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 85rem;
}
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@plugin "daisyui" {
  themes:
    dark,
    garden --default;
}
:root {
  --container-7xl: 85rem;
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: #cd1212;
  --color-black: #000;
  --color-border: rgb(119, 163, 239);
  --color-base-content: #3f4043;
  /* --color-primary: #3b82f6;
  --color-white: #fff; */
}

@theme {
  --color-base-0: var(--color-white);
}
[data-theme="dark"] {
  --color-primary: lab(53.0394% 89.3459 9.07078);
  --color-base-0: var(--color-base-100);
}
@layer base {
  .btn {
    font-weight: bolder;
  }
}
@layer utilities {
  /* .btn-primary {
    background-color: rgb(145, 255, 0);
  } */

  button {
    cursor: pointer;
  }
  .input-xl {
    font-size: 18px;
  }
  dropdown {
    outline: none;
  }
  .basis-1 {
    flex-basis: 100%;
  }
  label.otp > span {
    outline: none !important;
  }
  label.otp > span:focus,
  label.otp > input {
    outline: none !important;
  }
  input:focus,
  textarea:focus,
  feDropShadow:focus {
    outline: none;
    border-color: var(--color-border);
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
