@import "tailwindcss";
@import "./styles/carousel.css";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 45rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 85rem;
}
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */
@plugin "daisyui" {
  themes:
    dark,
    garden --default;
}
:root {
  --container-7xl: 85rem;
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: #ccc;
  --color-black: #000;

  /* --color-primary: #3b82f6;
  --color-white: #fff; */
}

@theme {
  --color-base-0: var(--color-white);
}
[data-theme="dark"] {
  --color-primary: lab(53.0394% 89.3459 9.07078);
  --color-base-0: var(--color-base-100);
}
@layer base {
  .btn {
    font-weight: bolder;
  }
}
@layer utilities {
  /* .btn-primary {
    background-color: rgb(145, 255, 0);
  } */
  .navbar {
    align-items: center;
    width: 100%;
    min-height: 5rem;
    padding: 0;
    display: flex;
  }
  .btn {
    cursor: pointer;
  }
  .basis-1 {
    flex-basis: 100%;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
